# 只对大型数据文件使用 LFS，不要追踪小的 txt 文件
data/processed/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/raw/**/*.txt filter=lfs diff=lfs merge=lfs -text

# 排除 requirements 文件
train/requirements*.txt !filter !diff !merge text
